@font-face{
  font-family: Playfair Display;
  src: url(../assets/fonts/PlayfairDisplay.ttf);
}

@font-face{
  font-family: Quattrocento Sans;
  src: url(../assets/fonts/QuattrocentoSans.ttf);
}

@font-face{
  font-family: FGD;
  src: url(../assets/fonts/FGD.ttf);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
}


/*HERO*/
.hero{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000000;
}

.heroContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background: #FFEEDF;
}

.heroHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroName{
  font-family: Playfair Display;
  font-style: normal;
  font-size: 3rem;
  color: #A18167;
}

.heroTitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 1rem;

  color: #939393;
}

.heroImages{
  position: relative;
}

.heroImagesContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  gap: 0.5rem;
}

.heroImagesText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.heroImagesTextBegin{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 80px;
  color: #FFEEDF;
}

.heroImagesTextEnd{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 5.5rem;
  color: #EAC8AA;
}

.heroAbout{
  display: flex;
  flex-direction: column;
  max-width: 847px;
  gap: 1rem;
}

.heroAboutTitle{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #737373;
  max-width: 340px;
}

.heroAboutText{
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  max-width: 585px;
}

.heroAboutBottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heroAboutBottomMenuItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heroAboutBottomMenuList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 0 0 1rem;
}

.heroAboutBottomMenuListItem{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  color: #000000;
  opacity: 0.5
}

.heroAboutBottomSocialMedia{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.6rem;
}

.heroAboutBottomSocialMediaEmail{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.53);
}

.heroAboutBottomSocialMediaInstagram{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.53);
}

/*END HERO*/

/*ABOUT*/
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 0 15rem 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background: url(../assets/images/6H2A5285.png);
}

.aboutContent{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2;
  max-width: 1199px;
}

.aboutHeader{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutGreeting{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #FFFFFF;
}

.aboutDivider{
  width: 1199px;
  height: 3px;
  background: #D9D9D9;
}

.aboutName{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.aboutContentText{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.aboutText{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;

  display: flex;
  justify-content: flex-start;
  max-width: 928px;
}

.aboutOpacity{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.45);
}

/*END ABOUT*/

/*SERVICES*/

.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  
  background: #FFFBF8;
}

.offeredServices{
  display: flex;
  max-width: 893px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  gap: 1rem;
}

.serviceDescription{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  max-width: 496px;
}

.serviceDescText{
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.195em;
  
  color: #000000;
}

.whatServices{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  
}

.whatServTitle{
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 174.9%;
  /* or 42px */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}

.whatServText{
  font-family: 'Montserrat';
  font-style: normal;

  font-weight: lighter;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  
  color: #0000007c;
}

.serviceContent{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 55px 25px;
  gap: 4rem;
}

.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 43px;
}

.leftSideHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.leftSideTextContent{
  display: flex;
  flex-direction: column;
}

.leftSideHeaderText{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  
  color: #000000;
}

.leftSideHeaderDivider{
  width: 99px;
  height: 3px;
  
  background: #A18167;
}

.leftSideTitle{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.195em;
  
  color: #000000;
}

.leftSideText{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 23px;
display: flex;
align-items: center;

color: #00000081;
}

.leftSideNext{
  font-family: 'Quattrocento Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.195em;
  
  color: #000000;
  
}

.rightSide{
  width: 305px;
  height: 435px;
}
/*END SERVICES*/

/* FOOTER */

.footer{
  background: #FFFBF8;
  width: 100%;
  height: 563px;
  position: relative;
  background: url(../assets/images/6H2A5350.png);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
  margin-top: -10rem;
}

.readyText{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.readyTextText{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  
}

.calendlyLink{
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: #000000;
}

.calendlyBox{
  width: 771px;
  height: 94px;
  background: #FFFBF8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerArrowRight{
  filter: brightness(0%);
  transform: rotate(-90deg);
}

.copyright{
  position: absolute;
  bottom: 1rem;
  font-family: FGD;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
}

.footerOpacity{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.3);
}

.max{
  z-index: 2;
  font-family: FGD;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  color: #9DFFAD;
}

.max:hover{
  opacity: 1; 
  cursor: pointer;
}
/* END FOOTER */

/* MISC */
.next{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.nextSectionDenote{
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
}

.nextSectionDivider{
  width: 672px;
  height: 2px;
  background: #A18167;
}

.nextSectionName{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
}

/* END MISC */